<button 
    type="button" 
    class="btn btn-light" 
    id="toggleAgregarHab" 
    (click)="modal.open(contenido)">

    <div>
        <i class="fa-solid fa-plus"></i>
        Agregar habilidad
    </div>

</button>


<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Agregar habilidad</h5>
        <i class="fa-solid fa-xmark" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body">
        <form class="add-form" 
            id="formul" 
            #formDetailUser="ngForm" 
            (ngSubmit)="onSubmit(formDetailUser)"
        >
            <div class="form-control">
                <label for="nombre">Nombre</label>
                <input 
                    type="text" 
                    name="nombre" 
                    id="nombre" 
                    placeholder="Nombre" 
                    [(ngModel)]="nombre" 
                />
            </div>
            <div class="form-control">
                <label for="porcentaje">Porcentaje</label>
                <input 
                    type="text" 
                    name="porcentaje" 
                    id="porcentaje" 
                    placeholder="Porcentaje"
                    [(ngModel)]="porcentaje" 
                />
            </div>
            <div class="modal-footer">
                <button 
                    type="submit" 
                    class="btn btn-primary" 
                    (click)="modal.close()"
                >Agregar</button>
            </div>
        </form>
    </div>
</ng-template>