<footer class="sticky-bottom bg-dark text-center text-white">

    <div class="container p-2">
        <p>
            Este portfolio fue realizado como proyecto final de la segunda etapa del plan 
            "Argentina Programa", avalado por el Ministerio de Desarrollo Productivo, 
            la Cámara Argentina de la Industria de Software (CESSI) 
            y el Instituto Nacional de Tecnología Industrial (INTI).
        </p>
    </div>

    <div class="text-center p-1">
        © 2022 Copyright: Todos los derechos reservados.
    </div>

</footer>