<div id="paginaconstruccion">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <h3>Lucrecia Guisasola</h3>
      <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
          <img src="./assets/argprogsf.png" alt="argentina programa">
      </a>
    </nav>
  
    <div class="card">
      <h2>Página en construcción</h2>
      <button type="button" class="btn btn-danger"
      [routerLink]="['/portafolio']">Volver al portfolio</button>
    </div>
  
</div>