#paginaconstruccion{
    width: 100vw;
}

.card{
    position: relative;
    width: 600px;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    align-items: center;
}

.btn{
    width: 200px;
    margin-top: 10%;
}

.navbar{
    position: fixed top;
    justify-content: space-between;
    min-height: 59px;
    max-height: 59px;
}

h3{
    color: white;
    margin-left: .7em; 
}

img{
    margin-right: .7em; 
    max-height: 40px;
}