<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
        <img src="./assets/argprogsf.png" alt="argentina programa">
    </a>

        <div class="redessociales">

            <a class="btn btn-outline-light m-1" href="https://www.linkedin.com/in/{{persona.linkedin}}/"
                target="_blank" role="button">
                <i class="fab fa-linkedin"></i>
            </a>

            <a class="btn btn-outline-light m-1" href="https://github.com/{{persona.github}}" target="_blank"
                role="button">
                <i class="fab fa-github"></i>
            </a>

            <a class="btn btn-outline-light m-1" href="https://api.whatsapp.com/send?phone={{persona.whatsapp}}" target="_blank"
                role="button">
                <i class="fab fa-whatsapp"></i>
            </a>

            <a class="btn btn-outline-light m-1" href="mailto:{{persona.email}}?subject=Portfolio web&" target="_blank"
                role="button">
                <i class="fas fa-envelope"></i>
            </a>
            
        </div> 
        
        <button id="logout" class="btn btn-outline-danger my-2 my-sm-0" type="button"
        [routerLink]="['/login']">Logout</button>
</nav>