.navbar{
    position: fixed top;
    display: flex;
    justify-content: space-between;
    min-height: 59px;
    max-height: 59px;
}

.redessociales{
    padding-right: 10px;
    display: flex;
}

.redessociales a{
    color: rgb(230, 230, 230);
    border-radius: 50%;
}

i{
    max-width: 13px;
}

img{
    margin-left: .7em; 
    max-height: 40px;
}

#logout{
    margin-right: .7em;
}