<div id="pagina">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <h5>Cargar fotos</h5>
        <button id="atras" class="btn btn-danger my-2 my-sm-0" type="button"
        [routerLink]="['/portafolio']">Volver</button>
    </nav>

    <div class="card">
        <form action="POST">
            <div class="form-group">
                <label for="fotoportada">Banner:</label>
                <input type="file" class="form-control form-control-file" id="fotoportada">
            </div>
            <div class="form-group">
                <label for="fotoperfil">Perfil:</label>
                <input type="file" class="form-control form-control-file" id="fotoperfil">
            </div>
            <button type="submit" class="btn btn-success">Guardar cambios</button>
        </form>
    </div>

</div>