<div class="card info">

  <div *ngIf="(persona.fotoPortada == null || persona.fotoPortada == '');
        then sinbanner 
        else conbanner"
        class="fotoportada"></div>
  <ng-template #sinbanner><img src="../../../assets/sinbanner.jpg" alt="banner" class="fotoportada"></ng-template>
  <ng-template #conbanner><img src="{{persona.fotoPortada}}" alt="banner" class="fotoportada"></ng-template>


  <div *ngIf="(persona.fotoPerfil == null || persona.fotoPerfil == '');
        then sinfoto 
        else confoto"
        class="fotoperfil">
  </div>
  <ng-template #sinfoto><img src="../../../assets/sinfoto.jpg" alt="foto de perfil" class="fotoperfil"></ng-template>
  <ng-template #confoto><img src="{{persona.fotoPerfil}}" alt="foto de perfil" class="fotoperfil"></ng-template>

  <div id="contenedor">

    <div class="datos">
      <div *ngIf="(persona.nombre == null || persona.nombre == '');
        then sindatos 
        else condatos"
        class="fotoperfil">
      </div>
      <ng-template #sindatos>
        <h3 id="nombre">Nombre y apellido</h3>
        <p id="descripcion">Ocupación</p>
        <p id="ubicacion">Ubicación</p>
      </ng-template>
      <ng-template #condatos>
        <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
        <p id="descripcion">{{persona.ocupacion}}</p>
        <p id="ubicacion">{{persona.ubicacion}}</p>
      </ng-template>
    </div>

    <div id="editar-perfil">
      <app-modal-editar-info
        *ngIf="this.logueado"
        [persona]="this.persona"
      ></app-modal-editar-info>
    </div>

  </div>

</div>