<i 
    type="button" 
    class="fa-solid fa-pencil" 
    id="toggleEditarEdu" 
    (click)="modal.open(contenido)">

</i>


<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar educacion</h5>
        <i class="fa-solid fa-xmark" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body">
        <form class="add-form" 
            id="formul" 
            #formDetailUser="ngForm" 
            (ngSubmit)="onSubmit(formDetailUser)"
        >
            <div class="form-control">
                <label for="carrera">Carrera</label>
                <input
                    type="text" 
                    name="carrera" 
                    id="carrera" 
                    value="{{educacion.carrera}}"
                    placeholder="Carrera" 
                    [(ngModel)]="carrera" 
                />
            </div>
            <div class="form-control">
                <label for="institucion">Institución</label>
                <input 
                    type="text" 
                    name="institucion" 
                    id="institucion" 
                    placeholder="Institución"
                    [(ngModel)]="institucion" 
                />
            </div>
            <div class="form-control">
                <label for="ubicacion">Ubicacion</label>
                <input 
                    type="text" 
                    name="ubicacion" 
                    id="ubicacion" 
                    placeholder="Ubicacion" 
                    [(ngModel)]="ubicacion" 
                />
            </div>
            <div class="form-control">
                <label for="inicio">Inicio</label>
                <input 
                    type="string" 
                    name="inicio" 
                    id="inicio" 
                    placeholder="Fecha de inicio" 
                    [(ngModel)]="inicio" 
                />
            </div>
            <div class="form-control">
                <label for="fin">Fin</label>
                <input 
                    type="string" 
                    name="fin" 
                    id="fin" 
                    placeholder="Fecha de finalización" 
                    [(ngModel)]="fin" 
                />
            </div>
            <div class="modal-footer">
                <button 
                    type="submit" 
                    class="btn btn-success" 
                    (click)="modal.close()"
                >Guardar cambios</button>
            </div>
        </form>
    </div>
</ng-template>