#paginalogin{
    box-sizing: border-box;
    width: 100vw;
    display: block;
    justify-content: space-between;
}

.card{
    position: relative;
    width: 400px;
    padding: 5%;
    margin: auto;
}

.form-group{
    margin-bottom: 4%;
}