<div id="paginalogin">

  <app-navbar></app-navbar>

  <div class="card">
    <h2>Iniciar sesión</h2>
    <form [formGroup] = "form" (ngSubmit)="onEnviar($event)">
      <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="email" formControlName="email" class="form-control" 
                id="exampleInputEmail1" aria-describedby="emailHelp"
          [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 
                      'is-valid': !Email?.errors && Email?.touched}">
        <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('required')" class="text-danger">
            El nombre de usuario es requerido.
          </p>
          <p *ngIf="Email?.hasError('minlength')" class="text-danger">
            El nombre de usuario debe ser válido.
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
          [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}">
        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="text-danger">
            La contraseña es requerida.
          </p>
          <p *ngIf="Password?.hasError('minlength')" class="text-danger">
            La contraseña debe tener como mínimo 8 caracteres.
          </p>
        </div>
      </div>
      <small>Para ver el portfolio ingrese las siguientes credenciales:
        <br>Usuario: invitado
        <br>Contraseña: invitado
      </small>
      <button type="submit" class="btn btn-success">Iniciar sesión</button>
    </form>
  </div>


  <div id="piedepagina" class="footer sticky-bottom">
    <app-footer></app-footer>
  </div>

</div>