#pagina{
    width: 100vw;
}

.card{
    position: relative;
    width: 65%;
    padding: 2%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-group, h4{
    margin-bottom: 3%;
}

.pestañas{
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.pestañas ul li{
    display: inline-block;
    color: black;
    font-size: 16px;
    padding: 2% 2% 0% 2%;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    position: relative;
    list-style-type: none;
}

.content{
    padding: 3% 15% 3% 15%;
}

.acercade, .cvtitulo, .botones, .inicio-fin{
    display: flex;
    justify-content: space-between;
}

.agregar{
    display: flex;
    margin-top: 5%;
}

.seleccionado{
    text-decoration: overline;
}

.navbar{
    position: fixed top;
    justify-content: space-between;
    min-height: 59px;
    max-height: 59px;
}

h5{
    color: white;
    margin-left: .7em; 
}

#atras{
    margin-right: .7em;
}